#s-main {
  width: 100%;
  height: 100vh;
  margin-top: 120px;
  font-family: Poppins, sans-serif;
  color: #464040;
}

.success-con {
  max-width: 596px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(33,37,41,0.33);
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 40px;
  border-radius: 20px;
  padding-top: 30px;
  margin-top: 30px;
}

.check-icon {
  color: #1d945a;
  padding: 10px;
  font-size: 75px;
}

.s-body p {
  margin-top: 10px;
}

.s-body button {
  margin-top: 15px;
}

@media (max-width: 575px) {
  .s-body button {
    margin-top: 15px;
    padding: 10px;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .success-con {
    background: rgba(255,255,255,0);
    box-shadow: 0px 0px;
    padding: 45px 40px;
    padding-top: 20px;
    margin-top: -10px;
  }
}

@media (max-width: 500px) {
  .check-icon {
    font-size: 66px;
  }
}

