.background {
  height: 100vh;
  position: absolute;
  margin-left: 307px;
  width: calc(100% - 307px);
  background: #EFF0F4;
  margin-top: -40px;
  border-top-left-radius: 40px;
  border-color: #464040;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex: 1 0 auto;
}

.card {
  border-radius: 25px;
}

.card-header {
  border-radius: 25px;
  background-color: rgba(0,0,0,0);
}

